@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item active" data-interval="100">
			<h1 class="display-1">Best Sellers</h1>
			<table class="table" id="table-color">
				<thead>
					<tr>
						<th scope="col">Rank</th>
						<th scope="col">Game Title</th>
						<th scope="col">Price</th>
						<th scope="col">System</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Zelda</td>
						<td>$59.99</td>
						<td>Switch</td>
						<td>9.9/10</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Last of Us</td>
						<td>$49.99</td>
						<td>Playstation 5</td>
						<td>9.2/10</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Halo Special Edition</td>
						<td>$79.99</td>
						<td>Xbox One</td>
						<td>8.8/10</td>
					</tr>
				</tbody>
			</table>
    </div>

    <div class="item">
      <h1 class="display-1">Top rated</h1>
			<table class="table" id="table-color">
				<thead>
					<tr>
						<th scope="col">Rank</th>
						<th scope="col">Game Title</th>
						<th scope="col">Price</th>
						<th scope="col">System</th>
						<th scope="col">Rating</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Zelda</td>
						<td>$59.99</td>
						<td>Switch</td>
						<td>9.9/10</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Elden Ring</td>
						<td>$39.99</td>
						<td>Playstation 5</td>
						<td>9.8/10</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Duke Nukem</td>
						<td>$19.99</td>
						<td>N64</td>
						<td>9.6/10</td>
					</tr>
				</tbody>
			</table>
    </div>
  </div>
</div>
<h2>Our Mission</h2> 
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada
	lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.
	Suspendisse cursus faucibus finibus.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada
	lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.
	Suspendisse cursus faucibus finibus.
</p>